* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #bacff0;
	--secondary-color: #fff;
	--third-color: #efefef;
	--forth-color: purple;
}

.dark-theme {
	--primary-color: #161625;
	--secondary-color: #161625;
	--third-color: #161625;
	--forth-color: purple;
}

/* logo */
#logo {
	background-color: var(--secondary-color);
}

#logo img {
	width: 200px;
	padding-bottom: 10px;
	background-color: var(--secondary-color);
}

/* navbar */

a {
	text-decoration: none;
}

nav {
	display: inline-block;
}

.nav-area {
	background: var(--primary-color);
	padding: 30px;
	list-style: none;
}

.nav-area li {
	font-size: 15px;
	display: inline-block;
	padding: 20px;
	text-transform: uppercase;
}

.nav-area li a {
	transition: all 0.3s ease 0s;
	color: white;
}

.nav-area li a:hover {
	color: red;
}

#icon {
	width: 40px;
	cursor: pointer;
}

.text_2 {
	color: red;
	font-family: 'Montserrat-Black';
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 3px;
	top: 50px;
	margin-top: 100px;
	position: relative;
	animation: text 2s 1;
}

.text_1 {
	font-size: 30px;
	margin-top: 50px;
	color: yellow;
}

.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: var(--primary-color);
}

#services {
	background-color: var(--third-color);
	background-size: cover;
	background-position: center;
	color: var(--forth-color) !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}

#services h1 {
	text-align: center;
	color: var(--forth-color) !important;
	padding-bottom: 10px;
}

#services h1::after {
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.services {
	margin-top: 40px;
}

.icon {
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}

#services p {
	font-size: 14px;
	margin-top: 20px;
	color: var(--forth-color);
}

.services .col-md-3:hover {
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}

#team {
	background-color: var(--primary-color);
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

h1 {
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}

h1::after {
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.profile-pic {
	margin-top: 25px;
}

.profile-pic .img-box {
	opacity: 1;
	display: block;
	position: relative;
}

.profile-pic .img-box img {
	filter: grayscale(1);
}

.profile-pic .img-box img:hover {
	filter: grayscale(0);
	cursor: pointer;
}

.profile-pic h2 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}

.profile-pic h3 {
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}

#team .fa {
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;
}

.img-box ul {
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.img-box ul li {
	padding: 5px;
	display: inline-block;
}

.img-box:hover ul {
	opacity: 1;
}

.img-box ul,
.img-box ul li {
	transition: 0.5s;
}

#contact {
	background: var(--third-color);
	padding-top: 40px;
	padding-bottom: 40px;
	color: var(--forth-color);
}

.contact-form {
	padding: 15px;
}

.form-control {
	border-radius: 0 !important;
	border: none !important;
}

::placeholder {
	color: #999 !important;
}

.follow {
	background: #fff;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa {
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}

/*--------Footer-------*/
#footer {
	background: #333;
	color: #fff;
	padding: 12px;
}

.fa-heart-o {
	margin: 3px;
	color: red;
}

#footer {
	background: var(--secondary-color);
	padding: 0 10px 8px;
}

.footer-image {
	margin: 30px 0 0 0;
	width: 150px;
	margin-bottom: 20px;
}

#footer p {
	color: rgb(85, 85, 85);
}

#footer a img {
	width: 50px;
}